@tailwind base;
@tailwind components;
@tailwind utilities;
code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}
